<h2>Birth calculator</h2>
<form action="Result" method="post">
    <div class="mb-3">
        <label class="form-label" for="x">Podaj imie:</label>
        <input class="form-control" type="text" name="imie" step="0.00001" id="x"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="y">Data urodzenia:</label>
        <input class="form-control" type="date" name="birth_date" step="0.00001" id="y"/>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Oblicz</button>
    </div>
</form>